<div class="player-background container-fluid">
    <div @fadeIn [ngStyle]=" {'background-image': 'url(' + playerTeamLogo + ')', 'height':'90vh', 'background-position' : 'center 40px', 'background-repeat' : 'no-repeat', 'background-size' : '75% 75%' } ">
        <button mat-icon-button class="back-button">
            <mat-icon class="back-button" matTooltip="Back" (click)="backToDashboard()" aria-label="Back to the dashboard">keyboard_backspace</mat-icon>
        </button>

        <div class="container">
            <mat-card class="mb">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3 center">
                        <img [src]="playerImage ? playerImage : '' " [ngStyle]=" { 'border-radius' : '50%'}" alt="player-image"
                            (error)="getDefaultImage()" />
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9" *ngIf="playerProfile">
                        <span id="player-profile-1"> {{playerProfile?.primaryPosition?.abbreviation}}
                            #{{playerProfile?.primaryNumber}}
                            {{playerProfile?.fullName}} | {{playerProfile?.currentTeam?.name }} </span> <br />
                        <span id="player-profile-2">Age: {{playerProfile?.currentAge}} ({{playerProfile?.birthDate}}) |
                            Height:
                            {{playerProfile?.height}} | Shoots/Catches: {{playerProfile?.shootsCatches}} </span> <br />
                        <span id="player-profile-3">Birth Place: {{playerProfile?.birthCity}}<span *ngIf="playerProfile.birthStateProvince">,
                                {{playerProfile?.birthStateProvince}}</span>, {{playerProfile?.birthCountry}} </span>
                        <br />
                    </div>
                    <div *ngIf="!playerProfile">
                        <h3>No Player Found</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <mat-tab-group mat-stretch-tabs>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="tab-icon">bar_chart</mat-icon>
                                    <h5> {{seasonGameByGameStatistics[0] !== undefined && seasonGameByGameStatistics[0]
                                        !== null ? formatSeason(seasonGameByGameStatistics[0].season) : ''}} Statistics</h5>
                                </ng-template>

                                <season-stats-mat-table [gameLogDataSubject]="seasonGameByGameStatisticsSubject"
                                    [playerDataSubject]="playerDataSubject">
                                </season-stats-mat-table>

                            </mat-tab>

                            <!-- 
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="tab-icon">new_releases </mat-icon>
                                   <h5> News</h5>
                                </ng-template>
                                <h4 class="text-center margin-2-em">Coming Soon!</h4> 
                            </mat-tab> -->

                        </mat-tab-group>
                    </div>
                </div>
            </mat-card>

            <!-- <mat-card class="mb">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 class="text-center">Player Analytics</h3>
                    </div>
                </div>
            </mat-card> -->
        </div>
    </div>
</div>