  .search-input {
    width: 100%;
  }
  
  .full-width-search{
    width: 100%;
  }
  
  .player-item-padding-right{
    padding-right: 5px;
  }
  
  .icon-remove{
    margin-right: 5px;
  }

  .smooth-player-selection{
    transition: all .3s;
  }