.container-fluid {
    height: 100vh;
    background-image: url('./../../assets/nhl-fantasy-trade-tool-background.jpg');
    background-size: cover;

}

.logo-header { 
    font-family: Spantaran;
    font-size: 8vw;
}