<div class="container-fluid" @fadeIn>
  <div class="jumbotron">
    <div class="text-center">
      <h1>
        <h1 class="logo-header">FantaHockey</h1>
      </h1>
      <p>
        v.{{version}}
      </p>
      <p>By <a href="http://andrefischbacher.com" target="blank">Andre Fischbacher</a></p>
    </div>
    <mat-card>
      <mat-list>
        <h1 mat-subheader>Change Log</h1>
        <mat-list-item *ngFor="let version of versions">
          <mat-icon mat-list-icon>{{version.icon}}</mat-icon>
          <h4 mat-line>{{version.version}}</h4>
          <p mat-line>{{version.description}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>