.container-fluid {
    height: 91vh;
    overflow-x: hidden;    
}

#background-dashboard {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url('../../assets/nhl-fantasy-trade-tool-background.jpg') no-repeat center fixed;
    background-size: cover;
    z-index: -9999;
}


.search-input {
    width: 100%;
}

.full-width-search {
    width: 100%;
}

.player-item-padding-right {
    padding-right: 5px;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    filter: grayscale(75%) blur(25px);
    -ms-filter: grayscale(75%) blur(25px);
}

.icon-remove {
    margin-right: 5px;
}

.center {
    text-align: center;
}

.transparent-bg {
    opacity: 0.9;
}

@media all and (max-width: 767px) {
    #background-dashboard {
        top: 55px;
    }
    .trade-view {
        padding-top: 50px;
        margin-bottom: 50px;
    }
    
    .trade-icon {
        font-size: 42px;
        text-align: center;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
    #background-dashboard {
        top: 55px;
    }
    .trade-view {
        padding-top: 45px;
        margin-bottom: 45px;
    }
    
    .trade-icon {
        font-size: 42px;
        text-align: center;
    }
}


@media all and (min-width: 1201px) {
    .trade-icon {
        display: none;
    }
    .trade-view {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}