<div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [template]="customLoadingTemplate"></ngx-loading>
</div>

<video autoplay [muted]="true" loop id="background">
    <source src="../../assets/video-background.mp4" type="video/mp4">
</video>

<div class="container-fluid transparent-bg">
    <div class="jumbotron mb-mt">
        <h1 class="text-center">Trade Dashboard</h1>
         <div class="row" [ngClass]="{'no-trade-view': numberOfPlayers === 0, 'trade-view': playersFrom?.length >= 1 && playersTo?.length >= 1}"
            tourAnchor="tour8">
            <div *ngFor="let ids of fantasyTradeComponentIds; let i = index;" class="col-md-12 col-sm-12 col-lg-12 col-xl-6">
                <fantasy-trade-tool [tourIds]="ids" [componentId]="i" [playerSet]="playerSet" (playerSearchEvent)="getNhlPlayers($event)"
                    (getCurrentPlayers)="getCurrentPlayers($event)">
                </fantasy-trade-tool>
                <div *ngIf="i === 0" class="center">
                    <mat-icon class="trade-icon">swap_vert</mat-icon>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-md-12">
                <mat-icon class="desktop-trade-icon">swap_horizontal</mat-icon>
            </div>
        </div>
    </div>
</div>