table {
    width: 100%;
}
th {
    min-width: 10px;
}

.mat-form-field {
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

th.mat-header-cell, td.mat-cell{
    padding: 12px;
}
