<mat-toolbar class="menu-toolbar" color="primary">
  <button mat-icon-button id="menu" (click)="navService.toggleNav()">
    <div tourAnchor="tour2">  <fa-icon [icon]="faBars" class="toolbar-icons"></fa-icon> </div>
  </button> 
  <div tourAnchor="tour1"> <h1 class="logo-header">FantaHockey</h1></div>
  <span class="spacer"></span>
  
  <button mat-icon-button (click)="appTourService.startTour()">
    <fa-icon [icon]="faQuestionCircle" class="toolbar-icons"></fa-icon>
  </button>

</mat-toolbar>
  