.form-field-settings {
    width: 100%;
}

.container-fluid {
    min-height: 100vh;
    background-size: cover;
    height: 100vh;
}


@media all and (min-width: 1365px){
    .container-fluid {
        background-size: cover;
        min-height: 100vh;
        height: 90vh;
    }
}

.mat-form-field-infix, .mat-form-field {
    font-size: 18px !important;
}

.mb-15-vh {
    margin-bottom: 15vh;
}