<div class="container-fluid"  @fadeIn>
    <div class="jumbotron text-center mb-15-vh">
        <h1>
            <span translate>Settings</span>
        </h1>
        <mat-accordion tourAnchor="tour7">
            <mat-expansion-panel>
                <mat-expansion-panel-header >
                    <mat-panel-title>
                        <mat-icon>settings</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        Fantasy Player Settings
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form #playerForm="ngForm" (ngSubmit)="submitPlayerSettings(playerForm)" [ngFormOptions]="{updateOn: 'blur'}"
                    validate>
                    <div class="form-field-settings">
                        <div class="row" *ngFor="let setting of fantasyPlayerSettings; let i = index;">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <mat-form-field class="form-field-settings" [formControl]="playerSettingsControl"
                                    ngDefaultControl>
                                    <div>

                                        <input type="number" matInput required (blur)="submitPlayerSettings(playerForm)"
                                            [ngModel]="setting.settingValue" [placeholder]="setting.name"
                                            [ngModelOptions]="{updateOn: 'blur'}" name="{{setting.value}}" />

                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>settings</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        Fantasy Goalie Settings
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form #goalieForm="ngForm" (ngSubmit)="submitGoalieSettings(goalieForm)" [ngFormOptions]="{updateOn: 'blur'}"
                    validate>
                    <div class="form-field-settings">
                        <div class="row" *ngFor="let setting of fantasyGoalieSettings; let i = index">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <mat-form-field class="form-field-settings" [formControl]="goalieSettingsControl"
                                    ngDefaultControl>
                                    <div>
                                        <input type="number" (blur)="submitGoalieSettings(goalieForm)" matInput
                                            [ngModel]="setting.settingValue" [ngModelOptions]="{updateOn: 'blur'}"
                                            [placeholder]="setting.name" name="{{setting.value}}" />

                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>